<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Класc"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <div *nzModalContent>
    <form [formGroup]="formGroup" class="form-block">
      <div class="input-block">
        <label>Назва Класса</label>
        <input
          placeholder="Назва класса"
          formControlName="name"
          required
        >
      </div>
      <div class="input-block">
        <label>Посилання</label>
        <input
          placeholder="Посилання"
          formControlName="link"
          required
        >
      </div>
    </form>
  </div>
</nz-modal>
