<div class="admin-wrapper">
  <div class="add-room-container">
    <div class="add-room" (click)="openModalEvent()">
      Додати класс
    </div>
  </div>
  <div class="admin-container">
    <div *ngIf="isLoading; else template" class="spinner-container">
      <app-spinner></app-spinner>
    </div>
    <ng-template #template>
      <div class="thead-container">
        <div class="item">Класс id</div>
        <div class="item">Назва класса</div>
        <div class="item">Посиллання</div>
        <div class="item">Створенно посилання</div>
        <div class="item">Оновлено посилання</div>
        <div class="item">Видалити класс</div>
        <div class="item">Редагувати класс</div>
      </div>
      <div class="tbody-container" *ngFor="let room of rooms">
        <div class="item">{{ room.classId }}</div>
        <div class="item">{{ room.name }}</div>
        <div class="item">{{ room.link }}</div>
        <div class="item">{{ parseDate(room.createdAt) }}</div>
        <div class="item">{{ parseDate(room.updatedAt) }}</div>
        <div class="item remove-room" (click)="removeRoom(room)">Видалити</div>
        <div class="item edit-room" (click)="editRoom(room)">Редагувати</div>
      </div>
    </ng-template>
  </div>
</div>
<app-ng-ant-modal
  [isVisible]="openModal"
  [roomModel]="roomModel"
  (handleClick)="handleAddRoom($event)"
  (closeModal)="closeModalEvent($event)"
>
</app-ng-ant-modal>
